:root{
  --theme-shade-1:#0000ffc4;
  --text-shade-1:rgb(220, 221, 223);
  --text-background-1-hover:blue;
  --text-shade-1-hover:white;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
div{
  border:2px solid black;
  padding:20px;
}


/* Navbar styling */


.logotext{
  padding-left:50px;
  padding: 20px 50px;
  font-family: 'Protest Guerrilla', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
/* font-weight: bold;   */
font-size: 35px;
color:var(--theme-shade-1)
}
.navlinks{
  display: flex;
  flex-direction: row;
  margin-left:130px;
}
.nav-box{
  padding-bottom: 11px;
  padding-top:15px;
  background-color: var(--theme-shade-1);
  border:1px transparent var(--theme-shade-1);
  /* border-radius: ch; */
  /* filter: blur(5px) */
  /* box-shadow: inset 0 -5px 10px rgba(0,0,0,0.5), inset 0 5px 10px rgba(0,0,0,0.5); */

}
.navlinks li{
  list-style: none;
  text-decoration: none;
}
.navlinks a{
  text-decoration: none;
  color:var(--text-shade-1);
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 11px;
  padding-right:35px;
  padding-left: 35px ;

}
.navlinks a:hover{
  color: var(--text-shade-1-hover);
  transition: .7s;
  background-color:var(--text-background-1-hover);
}


/* Loading Styling */

.loading{
  background-color: rgba(220, 220, 220, 0.795);
  height:500px;
  border:none;
}


/* Categories Styling */

.categories{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding :100px 0;
}
